body{
    /* background-color: yellow; */
    margin: 0;
}

#loginpage{
    margin-top: 30px;
}

#phoneimage{
width: 100%;
}

#instapng:hover{
    transform: rotate(360deg);
    transition-delay: 5sec;
}