{% extends "insta/base.html" %}
{% block body %}
<div class="container home-wrapper">
    <div class="row">
        <div class="col-md-3">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
            <div class="home">
                <div class="stories">
                    Stories
                </div>
                <div class="posts">
                    posts
                    <div class="card">
                    <h4>
                       <span> <img src="" alt="p-pic"><strong> john</strong></span>
                    </h4>
                    <div class="post-img text-center">
                        <img class="" src="../static/images/instagrampicture1.png" alt="" width="300">  <br>
                    </div>
                        <p> 
                            <span>likes</span> .
                            <span>comments</span> .
                            <span>share </span> <br></p>
                        <p>Liked by ..etc </p>
                        <p>
                            lorem 30
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, nemo odit dolorem esse ea
                            libero, veniam inventore dicta autem aperiam ut enim ullam!
                        </p>
                        <div class="card-footer">
                            <input class="input" placeholder="Add a comment ..."/>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-md-3">
            <!-- empty div -->
        </div>
    </div>
</div>


{% endblock %}