{% extends "insta/base.html" %}
{% block body %}
<div class="container home-wrapper">
    <div class="row">
        <div class="col-md-3">
            <!-- empty div -->
        </div>
        <div class="col-md-6">
            <div class="home">
                <div class="stories mt-3">
                    <div class="user-stories">
                        <p class="u">
                            <span><img src="../static/Assets/icons/heart.svg" class="user-story" alt=""></span>
                            <span><img src="https://images.pexels.com/photos/60597/dahlia-red-blossom-bloom-60597.jpeg?cs=srgb&dl=pexels-pixabay-60597.jpg&fm=jpg" class="user-story" alt=""></span>
                            <span><img src="../static/Assets/icons/share.svg" class="user-story" alt=""></span>
                            <span><img src="../static/Assets/icons/heart.svg" class="user-story" alt=""></span>
                            <span><img src="../static/Assets/icons/comment.svg" class="user-story" alt=""></span>
                        </p>
                    </div>
                </div>
                <div class="posts">
                    {% for post in posts %}
                    <div class="card post-card">
                        {% for user in users %}
                        <h6>
                            <span> <img id="profilepic" src="{{user.profilepic.url}}" alt="p-pic">
                                {% endfor %}
                                <strong>{{post.uploaded_by.username}}</strong></span>
                        </h6>
                        <div class="post-img text-center">
                            <img class="" src="{{post.image.url}}" alt="" width="300"> <br>
                        </div>
                        <p>
                            <span>{{post.likes | length}} <span class="btn"> <img src="../static/Assets/icons/heart.svg"
                                        alt=""></span></span>
                            <span>{{post.comments | length}} <img src="../static/Assets/icons/comment.svg"
                                    alt=""></span>
                            <span><img src="../static/Assets/icons/share.svg" alt=""></span> <br></p>
                        <p>Liked by <span><strong>jnjauu</strong> and <span>67 others</span></span> </p>
                        <p>
                            {{post.caption}}
                        </p>
                        <div class="card-footer">
                            <div class="input">
                                <input class="input" placeholder="Add a comment ..." />
                                <button class="btn text-primary">Post</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>

        </div>
        <div class="col-md-3 sidebar">
            <div class="row">
                <div class="col-md-9">

                    <h5><strong>john</strong> <span class="text-primary">Switch</span> </h5>
                    <div class="suggestions">
                        <p class="text-secondary">
                            Suggestions for you <strong>See All</strong>
                        </p>
                        <p><strong>kimjongun</strong> <span class="text-primary"> Follow</span></p>
                        <p><strong>kimjongun</strong><span class="text-primary"> Follow</span></p>
                        <p><strong>kimjongun</strong><span class="text-primary"> Follow</span></p>
                        <p><strong>kimjongun</strong><span class="text-primary"> Follow</span></p>
                        <p><strong>kimjongun</strong><span class="text-primary"> Follow</span></p>
                    </div>

                </div>
                <div class="col-md-3">

                </div>
            </div>
            <!-- empty div -->
        </div>
    </div>
</div>


{% endblock %}