{% load bootstrap3 %}
{% load static %}
{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock styles %}

{% block content %}
<nav class="navbar navbar-fixed-top navbar-default">
  <div class="container wrapper" >
      <!-- Instagram Left images on nav bar -->
      <div class="insta-navbar">
        <div class="brand-name">
          <a href="/" class="text-dark" >
            Instagram
          </a>
        </div>
        <div class="search">
          <input style="height:33px;width:200px;margin:6px;" type="text" class="input-sm bg-light form-control"
            name="search-form" placeholder="Search">
        </div>
        <div class="left-icons">
          <ul>
          <a href=""> <img src="../static/images/icons-home.svg" alt="" class="nav-icon"></a>
          <a href=""> <img src="../static/images/icons-home.svg" alt=""class="nav-icon"></a>
          <a href=""> <img src="../static/images/icons-home.svg" alt=""class="nav-icon"></a>
          <a href=""> <img src="../static/images/icons-home.svg" alt=""class="nav-icon"></a>
          <a href=""> <img src="../static/images/icons-home.svg" alt=""class="nav-icon"></a>
          <a class="dropdown" id="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown"
              aria-expanded="false">
              <img src="" alt="profile" id="profilepic">
            </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'profile'%}" role="button">Profile</a>
              </li>
              <li>
                <a href="#" role="button" class="disabled">Saved</a>
              </li>
              <li>
                <a href="{%url 'updateprofile'%}">Settings</a>
              </li>
              <li>
                <a href="#" role="button" class="disabled">Switch Accounts</a>
              </li>
              <div class="card">
                <div class="card-footer">
                  <li>
                    <a href="/logout">Logout</a>
                  </li>
                </div>
              </div>
            </ul>
          </a>
        </ul>
        </div>
      </div>
  </div>
</nav>


{% endblock %}