{% extends "insta/base.html" %}
{% load bootstrap4 %}
{% block body %}
<div class="container">
    <div class="row">
        <!-- empty -->
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card upload-card">
                <div class="card-title">
                    <h4 class="card-title text-center">Create new Post</h4>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <form action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}

                            {% bootstrap_form postform %}
                            <button type="submit" class="btn btn-primary btn-sm">Post
                        </form>
                        </p>
                    </div>
                </div>
            </div>
            <!-- empty -->
            <div class="col-md-3"></div>
        </div>
    </div>
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock scripts %}
    {% endblock body %}